<div
  class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
>
    <div>
        <h1 class="h2">Order Detail</h1>
        <div class="model-id">ID: {{ model._id }}</div>
    </div>  
  <a
    href="/orders"
    class="btn btn-sm btn-outline-secondary"
  >Back to list</a>
</div>
<div class="container order-detail">
    <h2>Bill</h2>
    <div class="box">
        <div class="row mb-2">
            <div class="col-12 col-md-3 label">Total items</div>
            <div class="col-12 col-md-9">{{ totalItems }}</div>
        </div>
        <div class="row mb-2">
            <div class="col-12 col-md-3 label">Total income</div>
            <div class="col-12 col-md-9">{{ currency totalIncome }}</div>
        </div>
        <div class="row mb-2">
            <div class="col-12 col-md-3 label">Status</div>
            <div class="col-12 col-md-9 text-{{statusColor}}">{{ status }}</div>
        </div>
        <div class="row mb-2">
            <div class="col-12 col-md-3 label">Order Date</div>
            <div class="col-12 col-md-9">{{ datetimeFormat model.createdAt 'YYYY-MM-DD HH:mm:ss' }}</div>
        </div>
    </div>
    <h2>Information</h2>
    <div class="box">
        <div class="title">User Info</div>
        <div class="row mb-2">
            <div class="col-12 col-md-3 label">Name</div>
            <div class="col-12 col-md-9">{{ concat model.user.firstName model.user.lastName }}</div>
        </div>
        <div class="row mb-2">
            <div class="col-12 col-md-3 label">Phone</div>
            <div class="col-12 col-md-9">{{ model.user.phone }}</div>
        </div>
        <div class="row mb-2">
            <div class="col-12 col-md-3 label">Address</div>
            <div class="col-12 col-md-9">{{ model.user.address }}</div>
        </div>
    </div>
    <div class="box">
        <div class="title">Receiver Info</div>
        <div class="row mb-2">
            <div class="col-12 col-md-3 label">Name</div>
            <div class="col-12 col-md-9">{{ model.receiverName }}</div>
        </div>
        <div class="row mb-2">
            <div class="col-12 col-md-3 label">Phone</div>
            <div class="col-12 col-md-9">{{ model.receiverPhone }}</div>
        </div>
        <div class="row mb-2">
            <div class="col-12 col-md-3 label">Address</div>
            <div class="col-12 col-md-9">{{ model.receiverAddress }}</div>
        </div>
    </div>
    <h2 class="mb-3">Details</h2>
    {{#each model.details }}
    <div class="box">
        <div class="id-tag">{{ this._id }}</div>
        <div class="title">{{ this.product.name }}</div>
        <div class="row mb-2">
            <div class="col-12 col-md-3 label">Quantity</div>
            <div class="col-12 col-md-9">{{ this.quantity }}</div>
        </div>
        <div class="row mb-2">
            <div class="col-12 col-md-3 label">Unit Price</div>
            <div class="col-12 col-md-9">{{ currency this.unitPrice }}</div>
        </div>
        <div class="row mb-2">
            <div class="col-12 col-md-3 label">Unit Price after Discount</div>
            <div class="col-12 col-md-9">{{ currency (discount this.discount this.unitPrice) }}</div>
        </div>
    </div>
    {{/each}}
</div>